.form{
    font-size: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#wrapper{
    background-color: grey;
    height: 600px;
    width:  500px

}
#Title{
    background-color: black;
    padding-left: 35%;
}
#para{
    margin-left: 10%;
    font-size: 25px;
}
#guessField{
    margin-top: 30px;
    width: 170px;
    height: 50px;
}
#subt{
    margin-top: 20px;
    height: 30px;
    width: 150px;
    background-color: black;
    color: whitesmoke;
}
.resultParas{
    margin-left: 32%;
}
